.Table {
    /* border: 1px solid #f4f6f8; */
    border-spacing: 0px;
    background: #fff;
    box-sizing: border-box;
  }

  .HeaderRow {
    border: 1px solid #B8D64A;
    border-radius: 12px;
    border-spacing: 0px;
    background: #fff;
    box-sizing: border-box;
  }

  .BodyRows {
    /* border: 1px solid rgb(137, 141, 123); */
    border-radius: 12px;
    border-spacing: 0px;
    background: #fff;
    box-sizing: border-box;
    border-collapse:separate; 
    border-spacing:0 15px;
  }
  
  .Cell {
    border-top: 1px solid rgb(137, 141, 123);
    border-bottom: 1px solid rgb(137, 141, 123);
    padding: 4px;
    padding-left: 25px;
    padding-right: 120px;
    text-align: left;
  }