@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great|Fugaz+One|Gochi+Hand|Oleo+Script|Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Paytone+One&display=swap");

.header {
  font-family: 'Paytone One', sans-serif;
  font-size: 1.18em;
  color: rgb(80, 80, 80);
}

.ReactTable .rt-thead.-header {
  font-family: 'Karla', sans-serif;
  font-size: 0.87rem;
  font-weight: bold;
  background: rgba(141, 195, 77, 0.3)
}

.ReactTable {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  padding: 10px;
  font-family: 'Karla', sans-serif;
  font-size: 0.87rem;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, 0.1);
  
}

.ReactTable {
  line-height: 4vh;
}

.ReactTable.-highlight .rt-tbody .rt-tr:hover {
  background-color: rgba(198, 216, 45, 0.1) !important;
}

.ReactTable.-striped .rt-tr.-odd {
  background: rgba(0, 0, 0, 0.03) !important;
}
