@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");
@import url('https://fonts.googleapis.com/css?family=Lobster|Solway|Sulphur+Point&display=swap');
.home {
background-image: linear-gradient(to bottom, rgba(198, 216, 45, 0.5), rgba(109, 151, 58, 0.99));
height: 100vh;
}
.block {
  border: 1.5vh solid rgba(239, 241, 125, 0.651);
  background-color: white;
  width: 58vw;
  height: 50vh;
  position: absolute;
  top: 16vh;
  left: 1vw;
  right: 1vw;
  margin: auto;
  z-index: inherit;
  padding-top: 5em;
  padding-bottom: 2vh;
  padding-left:2vw;
  padding-right: 2vw; 
  border-radius: 20px;
}
.logo {
  top: -1vh;
  position: relative;
  background-size: 6em;
  height: auto;
}
.welcome {
  top: 1vh;
  line-height: 1em;
  position: relative;
  left: 0.24rem;
  padding-right: 0.28rem;
  font-size: 3vh;
  color:rgba(0,0,0,0.65);
  font-family: 'Lobster', cursive;
  z-index: inherit;
}
.passwordBox {
  color: rgba(141, 195, 77);
  font-size: 1rem;
  width: 7em;
  height: 0.9rem;
  border: .1rem solid rgba(141, 195, 77);
  border-radius: 5px;
  padding: 0.2em 0.2em;
  position: relative;
}
.passwordLabel {
  font-size: 120%;
  color: rgb(104, 143, 57);
  font-family: 'Solway', serif;
  right: 0.5vw;
  position: relative;
}
.login {
  padding-top: 3vh;
  position: relative;
  align-items: center;
}
.button {
  font-family: 'Solway', serif;
}
.pic {
  width: 9.5vh;
  height: auto;
}
.pic2 {
  width: 10vh;
  height: auto;
}